/* Community Page */
.kit_nosaic_outer {
	.kit_mosaic_upper_shadow_positioner_container {
		width: 100%;
		height: 0px;
		text-align: center;

		.kit_mosaic_upper_shadow {
			position: absolute;
			height: 50px;
			width: 100%;
			background: transparent;
			z-index: 700;
			@include box-shadow(inset 0px 32px 28px -13px rgba(0,0,1,1));
		}
	}

	.multi_view_galleries {
		background-color: #08080a;
		position: static;
	}

	.kit_mosaic_lower_shadow_positioner_container {
		width: 100%;
		height: 0px;
		text-align: center;
		position: relative;

		.kit_mosaic_lower_shadow {
			position: absolute;
			height: 0;
			width: 100%;
			bottom: 0px;
			background: transparent;
			z-index: 700;
			@include box-shadow(inset 0px -19px 20px -17px rgba(0,0,1,0.53));
		}
	}
}

.ksm_profile_container_studio_topline {
	width: 100%;
	height: 4px;
	padding: 0;
	background: #6d6d7f;
	@include background-image(linear-gradient(to bottom, #6d6d7f 1%,#6d6d7f 6%,#6d6d7f 20%,#131317 71%));

	.ksm_profile_container_studio_topline_ving_left {
		float: left;
		position: relative;
		width: 35%;
		height: 3px;
		@include background-image(linear-gradient(to right, rgba(2,2,2,0.74) 0%,rgba(2,2,2,0.73) 1%,rgba(2,2,2,0) 100%));
	}

	.ksm_profile_container_studio_topline_ving_right {
		float: right;
		position: relative;
		width: 35%;
		height: 3px;
		@include background-image(linear-gradient(to right, rgba(2,2,2,0) 0%,rgba(2,2,2,0.73) 99%,rgba(2,2,2,0.74) 100%));
	}
}

.ksm_profile_container_studio {
	background: #131317;

	.ksm_profile_container_overlay_studio {
		background-color: transparent;
		padding-top: 48px;
		border-top: 0px;
		margin-bottom: 66px;

		.ksm_profile {
			width: 100%;
			margin: 0 auto;
			padding-bottom: 52px;
			width: 100%;

			.magazine_container_icon {
				background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/kitmoda_focus.png) no-repeat scroll 0px center;
				margin-left: -2px;
				width: 63px;
				height: 63px;
				float: left;
				margin: 0 8px 0 -2px;

				&.feed_icon {
					background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/kitmoda_feed.png) no-repeat scroll 0px center;
					margin-left: -3px;
				}
			}

			.magazine_container_title {
				color: #b4bccc;
				font-family: $open-sans;
				font-size: 26px;
				line-height: 1.5;
				float: left;
				width: 600px;
				margin-top: -4px;
				position: relative;
				@include text-shadow(3px 2px #000000);

				.magazine_title_subtitle {
					color: #9195ab;
					font-size: 14px;
					margin: 0 0 17px 2px;
					@include text-shadow(none);
				}
			}

			.magazine_container {
				height: 200px;
				width: 100%;
				background: transparent;
				border-radius: 5px;
				margin-bottom: 26px;
				overflow: hidden;
				margin-top: 13px;
				margin-bottom: 60px;
				@include box-shadow(1px 8px 17px 6px rgba(0,0,0,0.65));

				.magazine_article_box {
					width: 20%;
					float: left;
					height: 200px;
					background-color: #000;
					background-repeat: no-repeat;
					background-position: center center;

					&:nth-child(1) { background-image: url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/article_thumb_1.jpg); }
					&:nth-child(2) { background-image: url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/article_thumb_2.jpg); }
					&:nth-child(3) { background-image: url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/article_thumb_3.jpg); }
					&:nth-child(4) { background-image: url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/article_thumb_4.jpg); }
					&:nth-child(5) { background-image: url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/article_thumb_5.jpg); }
				}
			}

			.ksm_community {
				position: relative;
				padding: 0;
				@include border-radius(10px);

				.main_overlay {
					width: 100%;
					position: absolute;
					z-index: 1000;
					top: 0;
					bottom: -24px;
					@include border-radius(5px);

					.overlay {
						background: #000;
						height: 100%;
						@include opacity(0);
						@include border-radius(5px);
					}
				}

				.wall_footer {
					height: 39px;
					width: 100%;
					bottom: -15px;
					position: absolute;
					z-index: 9;
					line-height: 25.5px;

					.ksm_pagination {
						margin-top: 27px;
						pointer-events: none;
						text-align: center;

						.page-numbers {
							font-family: $montserrat;
							color: #44b9fc;
							font-size: 17px;
							margin-top: 4px;
							margin-bottom: 9px;

							> div {
								height: 26px;
								width: 22px;
								display: inline-block;
								@include opacity(0);
								@include transition(all .3s ease-out);

								&.prev_arrow_glow {
									background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/prev_hover.png) no-repeat scroll 0 0px;
								}

								&.next_arrow_glow {
									background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/next_hover.png) no-repeat scroll 0 0px;
								}
							}

							&:hover > div {
								@include opacity(1);
							}

							&.prev, &.next {
								display: inline-block;
								height: 26px;
								width: 22px;
								vertical-align: middle;
								margin: 4px 10px 9px 10px;
								pointer-events: auto;
							}

							&.prev {
								background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/prev.png) no-repeat scroll 0 0px;
							}

							&.next {
								background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/next.png) no-repeat scroll 0 0px;
								margin-right: 0;
							}
						}

						.page_numbers_styled {
							background: #26262e;
							color: #44b9fc;
							display: inline-block;
							font-family: $montserrat;
							font-size: 17px;
							margin-left: 7px;
							margin-right: 7px;
							padding-top: 4px;
							pointer-events: auto;
							text-decoration: none;
							height: 33px;
							width: 44px;
							@include transition(all 0.34s ease-out 0s);
							@include border-radius(4px);

							&:hover {
								background: #3f3f4d;
								color: #b2e3ff;
							}

							&.page_numbers_styled_current {
								background: #3c3c4d;
								color: #08090d;
							}
						}
					}
				}
			}

			.community_sidebar {
				background: none;
				border: none;
				@include box-shadow(none);

				.community_sidebar_outline_shadow {
					background: #000;
					border: 1px solid #4a4a59;
					border-right-color: #626276;
					border-bottom: none;
					@include border-radius(5px);
					@include box-shadow(-1px 8px 11px 3px rgba(0, 0, 2, 0.52));

					.community_sidebar_inset_shadow {
						padding: 22px 0 40px;
						@include border-radius(5px);
						@include background-image(linear-gradient(to right, rgba(54,54,63,1) 0%,rgba(40,40,48,1) 1%,rgba(40,40,48,1) 99%,rgba(59,59,68,1) 100%));
						@include box-shadow(24px -12px 45px 6px rgba(0,0,0,0.25));

						.community_sidebar_overlay_radial {
							@include border-radius(0 0 8px 8px);

							.inner_sidebar {
								padding-left: 15px !important;
								padding-right: 15px !important;

								.search {
									background-color: #202029;
									clear: both;
									height: 36px;
									margin-bottom: 18px;
									border: 1px solid #373745;
									border-top-color: #25252e;
									border-bottom-color: #4b4b5c;
									position: relative;
									@include border-radius(6px);
									@include box-shadow(inset 0px 4px 7px 0px rgba(0,0,0,0.45));

									input {
										font-family: $roboto;
										background: none;
										border: 0 none;
										height: 34px;
										margin-top: 1px;
										margin-bottom: 1px;
										padding-left: 10px;
										outline: 0 none;
										width: 100%;
										color: #c5d5eb;
										font-size: 14px;
									}

									.ksm_community_search_magnify {
										display: block;
										height: 36px;
										background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/search_icon.png) no-repeat scroll 0 0;
										margin-right: 0px;
										width: 40px;
										margin-top: 2px;
										position: absolute;
										right: 0;
										top: 2px;

										.ksm_community_search_magnify_glow {
											display: block;
											height: 36px;
											background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/search_icon_glow.png) no-repeat scroll 0 0;
											position: relative;
											width: 40px;
											@include transition(all 0.28s ease-out 0s);
											@include opacity(0);

											&:hover {
												cursor: pointer;
												@include opacity(1);
											}
										}
									}
								}

								.heading {
									text-transform: uppercase;
									color: #fff;
									float: left;
									font-size: 13px;
									font-family: $montserrat;
								}

								a.community_sidebar_remove_all {
									color: #61afff;
									text-decoration: none;
									font-size: 13px;
									font-family: $montserrat;
									float: right;
									@include transition(all 0.28s ease-out 0s);

									&:hover {
										@include text-shadow(2px 2px 5px rgb(44,88,137));
									}
								}

								.community_sidebar_linebreak_dark {
									width: 100%;
									height: 1px;
									margin-top: 12px;
									@include background-image(linear-gradient(to right, rgba(0,0,0,0.61) 0%,rgba(1,1,1,1) 27%,rgba(2,2,2,1) 51%,rgba(1,1,1,1) 68%,rgba(0,0,0,0.55) 99%,rgba(0,0,0,0.55) 100%));
								}

								.community_sidebar_linebreak {
									width: 100%;
									height: 1px;
									margin-bottom: 12px;
									@include background-image(linear-gradient(to right, rgba(179,186,204,0.07) 0%,rgba(206,211,224,0.35) 27%,rgba(230,234,242,0.34) 51%,rgba(212,217,229,0.34) 68%,rgba(180,187,205,0.15) 99%,rgba(179,186,204,0.15) 100%));
								}

								.sidebar_checkbox {
									float: left;
									padding-right: 12px;
								}

								.sidebar_filtername {
									font-family: $montserrat;
									font-size: 11px;
									padding-top: 3px;
									color: #b4b7c4;
								}
							}
						}
					}
				}
			}
		}
	}
}

#top_banner_box_container_community {
	background: #000;
	padding-top: 21px;
	padding-bottom: 35px;
	height: 303px;
	@include box-shadow(0 5px 5px rgba(0, 0, 0, 0.75) inset);

	.mosaic_banner_community_horizontal_dark_overlay {
		position: absolute;
		top: 82px;
		height: 303px;
		width: 100%;
		display: block;
		@include box-shadow(inset 0px 61px 100px 25px rgba(0,0,1,0.85));
	}

	.mosaic_banner_community_vertical_dark_overlay {
		position: absolute;
		@include background-image(linear-gradient(to bottom, rgba(0,2,8,0) 0%,rgba(0,2,8,0) 31%,rgba(0,2,8,0.11) 56%,rgba(0,2,8,0.31) 75%,rgba(0,2,8,0.8) 89%,rgba(0,2,8,0.87) 100%));
		top: 361px;
		height: 24px;
		width: 100%;
		display: block;
	}

	.community_updates_center_finder {
		position: relative;

		.community_updates_slider_shadow {
			@include box-shadow(-1px 13px 13px 4px rgba(10,9,15,0.82));
			position: absolute;
			top: 14px;
			@include border-radius(6px);

			.slider.updates_slider {
				overflow: hidden;
				@include border-radius(6px);

				.item {
					position: relative;

					.image img {
						width: 100%;
					}

					.uinfo {
						position: absolute;
						top: 0;
						float: left;
						font-family: $montserrat;
						@include background-image(linear-gradient(to right, rgba(0,0,1,0.59) 0%,rgba(0,0,1,0.52) 59%,rgba(0,0,1,0.25) 85%,rgba(0,0,1,0) 100%));
						width: 40%;
						padding: 0 80px 10px 0;

						.community_updates_slider_header {
							width: 100%;
							background-color: #25282b;
							@include box-shadow(0px 3px 8px 3px rgba(21, 23, 46, 0.29));
							@include background-image(linear-gradient(to right, #25282b 1%, #171719 65%, #0a0a0c 100%));
							@include border-radius(9px);
						}

						.uinfo_title {
							color: #fff;
							font-size: 14px;
							padding: 10px 0 0 28px;
							text-transform: uppercase;
							font-family: $montserrat;
						}

						.uinfo_content {
							color: #ffedf3;
							font-size: 13px;
							line-height: 18px;
							padding-left: 28px;
							padding-right: 0;
							font-family: $open-sans;
							margin-top: 8px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}