.ddlist_messages_positioner {
  position: absolute;
  top: 32px;
  left: -336px;
  display: none;
  width: 380px;
  right: 20px;

  .ddlist {
    .edge {
      border-color: transparent transparent #60aff8;
      border-style: solid;
      border-width: 0 19px 26px;
      height: 0;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 330px;
      right: 0;
      top: -10px;

      .inner {
        border-color: transparent transparent #33313b;
        border-style: solid;
        border-width: 0 17px 23px;
        height: 0;
        width: 0;
        position: absolute;
        right: 10px;
        left: -17px;
        top: 4px;
      }
    }

    .box {
      background: #33313B;
      border: 2px solid #60aef8;
      margin-top: 14px;
      padding: 9px;
      @include border-radius(6px);
      @include box-shadow(0 8px 8px 5px rgba(0,0,0,.6));

      .header {
        margin-bottom: 5px;

        .title {
          color: #3d3d3d;
          font-size: 14px;
          padding-left: 15px;
          float: left;
        }

        .options {
          float: right;
          width: 247px;

          .btn_new_msg {
            float: left;
            background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/new_message.png) no-repeat;
            width: 32px;
            height: 22px;
          }

          ul {
            display: none;
            float: right;

            li {
              float: left;
              cursor: pointer;
              padding: 0;
              margin-right: 15px;

              &.read_bulk {
                background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/read_message.png) no-repeat 0 2px;
                height: 20px;
                width: 30px;
              }

              &.read_bulk {
                background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/trash.png) no-repeat 0 1px;
                height: 20px;
                width: 20px;
              }

              &.checkout_bulk {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .ksm_loading {
      display: none;
    }

    .footer {
      height: 46px;
      display: none;
      padding: 0 14px;

      .pagination {
        text-align: center;
        line-height: 43px;

        .prev, .next {
          background-repeat: no-repeat;
          background-position: left 2px;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }

        .prev {
          background-image: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/prev.png);
        }

        .next {
          background-image: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/next.png);
        }
      }
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  @include border-radius(4px);
}

.ksm_loading {
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;

  > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    @include animation(stretchdelay 1.2s infinite ease-in-out);

    @for $i from 1 to 5 {
      &.rect#{$i+1} { @include animationDelay($i, -1.2s, 0.1s); }
    }
  }
}

.ksm_gallery_multi_views {
  position: static;

  .grid_view_container {
    position: absolute;
    top: 0;
    z-index: 3000;
    width: 100%;
    padding-top: 0px;
    display: none;
    border: solid 1px #000;
    @include box-shadow(0 5px 5px rgba(0,0,0,.34));
    @include background-image(linear-gradient(to top, #1f2024 4%, #212326));

    .grid_view {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }

    .grid_back_btn {
      float: left;
      margin-left: 28px;

      a {
        text-transform: uppercase;
        color: #61afff;
        font-size: 15px;
        background: url(../../../plugins/kitmoda_social_media/images/icons/close.png) no-repeat 0 3px;
        padding-left: 28px;
        text-decoration: none;
      }
    }

    .ksm_pagination {
      text-align: center;
      margin: 0 140px;
    }
  }
}

.multi_view_galleries {
  .gallery {
    width: 100%;
    display: none;

    .mvg_empty_msg {
      display: none;
      padding: 20px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-family: $roboto;
    }

    .mini_grid_view_container {
      position: relative;
      overflow: hidden;
      width: 100%;

      .bg_container {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;

        .bg {
          height: 100%;
          position: relative;
          overflow: hidden;

          .level1 {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            @include background-image(linear-gradient(to bottom, #6a6d7d, #797a85 2%, #92939c 5%, #a9aab0 91%, #a9aab0 96%, #a2a2a8));
          }

          .level2 {
            position: absolute;
            width: 100%;
            height: 750px;
            z-index: 2;
            @include background-image(radial-gradient(ellipse cover at center, rgba(251, 251, 255, 0.41) 0%, rgba(251, 251, 255, 0.41) 11%, rgba(251, 251, 255, 0.38) 36%, rgba(251, 251, 255, 0.19) 63%, rgba(251, 251, 255, 0) 100%));
          }
        }
      }

      .grid_view {
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        width: 100%;

        .grid {
          margin-right: 0;
        }
      }
    }
  }

  .full_view_container {
    position: absolute;
    top: 373px;
    z-index: 3000;
    width: 100%;
    padding-top: 56px;
    display: none;
    border: 1px solid #000;
    @include box-shadow(inset 0 5px 5px rgba(0,0,0,.28));
    @include background-image(linear-gradient(to top, #1f2024 4%, #212326));

    .full_view {
      width: 100%;
      margin: 0 auto;
    }

    .nav_container {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;

      .nav {
        width: 838px;
        margin: 0 auto;
        position: relative;

        .nav_controls {
          .slick-prev, .slick-next {
            position: absolute;
            border: 0;
            width: 40px;
            padding: 0;
            height: 60px;
            top: 45%;
            cursor: pointer;
          }

          .slick-prev {
            background: url(../../../plugins/kitmoda_social_media/images/icons/prev.png) no-repeat;
            left: -110px;
          }

          .slick-next {
            background: url(../../../plugins/kitmoda_social_media/images/icons/next.png) no-repeat;
            right: -110px;
          }
        }
      }
    }

    .info_container {
      border-bottom: 1px solid #797b80;
      height: 160px;
      @include background-image(linear-gradient(to top, #ccd1d9, #dee4ec));

      .info_box {
        width: 100%;
        margin: 0 auto;
      }
    }

    .gallery_back_btn {
      width: 100%;
      margin: 0 auto;
      text-align: right;

      a {
        font-family: $roboto;
        color: #2b81da;
        text-decoration: none;
        font-size: 38px;
      }
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;

    .goverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 300;
      background: #000;
      @include opacity(.64);

      .ksm_loading {
        left: 50%;
        position: absolute;
        top: 50%;
        z-index: 301;

        div {
          background-color: #458dfa;
        }
      }
    }
  }
}

.justified-gallery {
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    clear: both;
  }
}

.ksm_pagination {
  margin-top: 27px;
  pointer-events: none;
  text-align: center;
}

.bt1_new {
  position: absolute;
  z-index: 9999;
  margin-top: -1%;
  margin-left: 86%;
  width: 0%;
}

.rating {
  width: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/star.png) left 0;
  height: 15px;
  outline: none;
  margin-top: -1px;

  .active {
    background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/star.png) repeat scroll left 15px;
    height: 15px;
    left: 0;
    outline: none;
    position: absolute;
  }
}

iframe.formframe {
  width: 0;
  height: 0;
  display: none;
}

.search-form-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: rgba( 81,90,99, .90 );
  visibility: hidden;
  @include opacity(0);
  @include transition(all .25s ease-in-out);
}

.posts_container {
  float: left;
  width: 100%;

  .add_post_form_back_shadow {
    @include border-radius(6px);
    @include box-shadow(0 4px 8px 2px rgba(0,0,0,0.4));

    .add_post_form_highlight_top {
      padding: 1px 1px 0;
      @include border-radius(6px 6px 0 0);
      @include background-image(linear-gradient(to bottom, rgba(85,85,102,1) 0%,rgba(71,71,86,1) 14%,rgba(45,45,56,1) 35%));

      .add_post_form_radius_top {
        background-color: #161616;
        height: 24px;
        @include border-radius(5px 5px 0 0);
        @include background-image(linear-gradient(to bottom, rgba(85,85,102,1) 0%,rgba(71,71,86,1) 7%,rgba(47,47,58,1) 25%));

        .add_post_form_highlight_studio_overlay_top_community {
          padding: 0 22px;
          height: 100%;
          @include border-radius(7px 7px 0 0);
          @include background-image(linear-gradient(to right, rgba(0,0,2,0.45) 0%,rgba(0,0,2,0.28) 18%,rgba(0,0,2,0.28) 74%,rgba(0,0,2,0.45) 100%));
        }
      }
    }

    .add_post_form_highlight {
      padding: 0 1px;
      background: #2D2D38;

      .add_post_form {
        background: #2F2F3A;
        @include border-radius(5px);

        .add_post_form_highlight_studio_overlay_community {
          padding: 0 22px;
          height: 100%;
          @include background-image(linear-gradient(to right, rgba(0,0,2,0.45) 0%,rgba(0,0,2,0.28) 18%,rgba(0,0,2,0.28) 74%,rgba(0,0,2,0.45) 100%));

          form {
            position: relative;
            font-family: $roboto;

            textarea {
              width: 100%;
              height: 72px;
              background-color: #16161c;
              padding: 10px 12px;
              border: 1px solid #000;
              border-bottom-color: #3a3a46;
              border-right-color: #2c2c35;
              border-left-color: #2c2c35;
              border-top-color: #111115;
              color: #e2e1f5;
              word-break: break-word;
              resize: none;
              overflow: hidden;
              @include box-shadow(0px 2px 5px 0px rgba(0,0,0,0.4) inset);
              @include border-radius(5px);
              @include placeholder { color: #44b9fc; }
            }

            .buttons {
              margin-top: 7px;
              height: 36px;
              position: relative;

              .post_img_btn {
                background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/add_image.png) no-repeat scroll 0 0;
                cursor: pointer;
                float: left;
                height: 34px;
                margin-top: 2px;
                width: 61px;

                .post_img_btn_hover {
                  background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/add_image_hover.png) no-repeat scroll 0 0;
                  height: 34px;
                  width: 61px;
                  @include opacity(0);
                  @include transition(all .3s ease-out);
                }

                &:hover .post_img_btn_hover {
                  @include opacity(1);
                }
              }

              .add_post_container {
                position: absolute;
                right: 0;
                margin-left: 0 !important;
                width: auto !important;
                display: block;

                .btn_add_post {
                  color: #ffffff;
                  display: block;
                  float: right;
                  font-family: $montserrat;
                  font-size: 16px;
                  height: 36px;
                  line-height: 20px;
                  text-decoration: none;
                  width: 140px;
                }

                .add_post {
                  background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/post_button_b.png) no-repeat scroll 0 0px;
                  width: 42px;
                  height: 36px;
                  cursor: pointer;
                  margin-left: 95px;
                  @include transition(all .28s ease-out);

                  &.add_post_hover {
                    background: rgba(0, 0, 0, 0) url(http://staging2.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/post_button_b_hover.png) no-repeat scroll 0 0px;
                    margin-top: -36px;
                    @include opacity(0);
                  }
                }

                &:hover .add_post_hover {
                  @include opacity(1);
                }
              }

              .add_post_text {
                color: #44b9fc;
                font-family: $montserrat;
                font-size: 16px;
                text-decoration: none;
                pointer-events: none;
                position: absolute;
                right: 50px;
                margin-top: 7px;
                text-transform: uppercase;
                left: auto !important;
                padding: 0;
                background: none;
                height: auto;
                @include transition(all .28s ease-out);
              }

              .miu_container {
                text-align: center;
              }
            }
          }
        }
      }
    }

    .add_post_form_highlight_bottom {
      padding: 0 1px 1px 1px;
      margin-bottom: 26px;
      @include border-radius(0 0 5px 5px);
      @include background-image(linear-gradient(to bottom, rgba(45,45,56,1) 68%,rgba(4,4,5,1) 95%));

      .add_post_form_radius_bottom {
        height: 24px;
        @include border-radius(0 0 5px 5px);
        @include background-image(linear-gradient(to bottom, rgba(47,47,58,1) 20%,rgba(47,47,58,1) 64%,rgba(36,36,43,1) 87%,rgba(10,10,12,1) 100%));

        .add_post_form_highlight_studio_overlay_bottom_community {
          padding: 0 22px;
          height: 100%;
          @include border-radius(0 0 7px 7px);
          @include background-image(linear-gradient(to right, rgba(0,0,2,0.45) 0%,rgba(0,0,2,0.28) 18%,rgba(0,0,2,0.28) 74%,rgba(0,0,2,0.45) 100%));
        }
      }
    }
  }
}

.posts {
  .post {
    padding-bottom: 14px;
    position: relative;
    line-height: 18px;

    .post_content_container_highlight {
      padding: 1px 0;
      @include border-radius(5px);
      @include box-shadow(0px 4px 8px 2px rgba(0,0,0,0.52));

      .post_content_container_top {
        position: relative;
        height: 20px;
        margin: 0 1px;
        border: 1px solid #444452;
        border-top-color: #555566;
        border-bottom: none;
        @include border-radius(5px 5px 0 0);
        @include background-image(linear-gradient(to bottom, rgba(61,61,68,1) 1%,rgba(40,40,48,1) 20%,rgba(40,40,48,1) 41%,rgba(40,40,48,1) 100%));
      }

      .post_content_container {
        position: relative;
        line-height: 18px;
        background-color: #282830;
        border: 1px solid #444452;
        border-width: 0 1px;
        margin: 0 1px;

        .post_content {
          color: #d0d0d0;
          position: relative;
          top: 8px;
          z-index: 99;
          margin: 0 25px;
          font-family: $roboto;
          font-size: 13px;
          line-height: 17px;
          @include border-radius(8px);

          .post_text_header {
            .avatar {
              float: left;
              height: 43px;
              width: 43px;
              padding: 1px;
              @include border-radius(8px);
              @include box-shadow(0 6px 7px -1px rgba(7, 7, 10, 1));
              @include background-image(linear-gradient(to bottom, #f7f8fc 1%, #c0c9d8 7%, #9a9da5 17%, #585a66 86%, #42444c 96%, #161619 100%));

              a img {
                @include border-radius(8px);
              }
            }

            .post_content_headerinfo {
              height: 48px;
              float: left;
              margin-left: 22px;

              .post_content_title {
                text-align: center;
                font-family: $montserrat;
                font-size: 22px;
                color: #e2e1f5;
                width: 100%;
              }

              .post_content_username {
                text-align: right;
                font-family: $roboto;
                font-size: 13px;
                margin-top: 9px;
                font-weight: bold;
                color: #128ee5;
                float: left;

                a {
                  font-family: $open-sans;
                  font-size: 14px;
                  font-weight: 600;
                  color: #62affe;
                  float: left;
                  margin-right: 5px;
                  text-align: right;
                  text-decoration: none;
                  @include transition(all .3s ease-out);
                }
              }

              .post_content_age {
                font-family: $open-sans;
                font-size: 12px;
                font-weight: 600;
                color: #9090ad;
                float: right;
                margin: 9px 0 0 12px;
              }
            }
          }

          .footer {
            height: 31px;
            line-height: 26px;
            margin-top: 14px;
            width: auto;
            margin-left: 0;
            @include border-radius(0 0 10px 10px);

            ul.post_stats {
              list-style: none;
              margin: 0;
              padding: 0 15px 0 0;
              float: left;

              li {
                color: #ffffff;
                float: left;
                font-family: $montserrat;
                font-size: 14px;
                height: 24px;
                margin-right: 40px;
                width: auto;

                &:after {
                  content: '';
                  display: none;
                }

                .button {
                  display: inline-block;
                  height: 32px;
                  width: 34px;
                  vertical-align: top;
                  background-position: left center;
                  background-repeat: no-repeat;
                }

                .count {
                  display: inline-block;
                  height: 24px;
                  margin-left: 5px;
                  vertical-align: top;
                }

                &.views .button {
                  background-image: url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/eyetest.png);
                }

                &.comments .button {
                  background-image: url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/comments_shad.png);
                }

                &.likes .likes_container {
                  height: 33px;
                  width: 28px;
                  float: left;

                  .likes_backdrop_no_hover {
                    background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/thumbs_up-blue.png) no-repeat scroll 0 0;
                    height: 26px;
                    margin-top: -4px;
                    width: 26px;
                  }
                }

                &.share .share_container {
                  .share_backdrop_no_hover {
                    background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/share-blue.png) no-repeat scroll 0 0;
                    height: 29px;
                    margin-top: -1px;
                    width: 29px;
                  }

                  .button {
                    background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/share-blue_hover.png) no-repeat scroll 0 0;
                    height: 29px;
                    margin-top: -29px;
                    width: 29px;
                    @include opacity(0);
                    @include transition(all 0.28s ease-out 0s);

                    &:hover {
                      cursor: pointer;
                      @include opacity(1);
                    }
                  }
                }
              }
            }
          }

          .post_inner {
            position: relative;
            padding-top: 8px;

            .mainp {
              font-size: 14px;
              font-family: $roboto;
              color: #aab4bd;
              line-height: 23px;
              position: relative;
              font-weight: 800;

              &.minimized {
                white-space: pre-line;
                color: #cacdde;
                font-family: $open-sans;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.015em;
                line-height: 1.7;
              }
            }
          }

          .post_content_divide_gradient_line_dark {
            height: 1px;
            width: 100%;
            @include background-image(linear-gradient(to right, rgba(0,0,0,0.54) 0%,rgba(0,0,1,0.96) 13%,rgba(1,1,2,1) 50%,rgba(0,0,1,0.97) 87%,rgba(0,0,0,0.52) 100%));
          }

          .post_content_divide_gradient_line {
            height: 1px;
            width: 100%;
            margin-bottom: 10px;
            @include background-image(linear-gradient(to right, rgba(69,74,86,0.25) 0%,rgba(93,99,112,0.48) 14%,rgba(107,113,127,0.52) 22%,rgba(149,158,178,0.67) 50%,rgba(109,115,130,0.48) 81%,rgba(101,106,121,0.45) 85%,rgba(69,74,86,0.34) 100%));
          }
        }

        .add_comment_form_highlight {
          margin: 0px 23px 0px;
          color: #d0d0d0;
          @include border-radius(1px);

          .add_comment_form_radius {
            color: #d0d0d0;
            padding: 0 0 5px;
            margin: 30px 23px 0;
            @include border-radius(10px);

            textarea {
              border-width: 1px;
              border-style: solid;
              border-bottom-color: #3a3a46;
              border-right-color: #2c2c35;
              border-left-color: #2c2c35;
              border-top-color: #111115;
              color: #a4adbe;
              padding: 10px 12px;
              text-transform: none;
              word-break: break-all;
              background-color: #1C1C24;
              font-family: $montserrat;
              @include border-radius(5px);
              @include box-shadow(0px 2px 5px 0px rgba(0,0,0,0.4) inset);
            }

            .add_comment_backdrop_comment {
              float: right;
              margin-right: -12px;

              .add_comment_container {
                .add_comment {
                  background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/post_post.png) no-repeat scroll 0 0;
                  height: 32px;
                  width: 32px;
                  margin: 0;
                  margin-left: 100px;
                  border: none;
                  box-shadow: none;
                }

                .add_comment_hover {
                  background: rgba(0, 0, 0, 0) url(http://staging1.kitmoda.com/ktmaterial/plugins/kitmoda_social_media/css/kane/images/icons/post_post_hover.png) no-repeat scroll 0 0px;
                  width: 32px;
                  height: 32px;
                  margin-top: -32px;
                  margin-left: 100px;
                  @include opacity(0);
                  @include transition(all .28s ease-out);
                }

                &:hover {
                  .add_comment_hover {
                    @include opacity(1);
                  }

                  + .add_comment_text {
                    color: #d1faff;
                    @include text-shadow(2px 2px 5px rgb(44,88,137));
                  }
                }
              }

              .add_comment_text {
                color: #44b9fc;
                font-family: $montserrat;
                font-size: 14px;
                text-decoration: none;
                pointer-events: none;
                margin: -32px 0 0 32px;
                display: block;
                @include transition(all .28s ease-out);
              }
            }
          }
        }

        .post_comments {
          margin: 0px 40px 0 26px;

          .comments_header_wrap {
            width: 100%;
            text-align: center;
            padding-bottom: 12px;

            .comments_header {
              margin: 0 auto;
              display: inline-block;
              position: relative;
              left: 384px;
              top: -20px;
              left: 0px;
              right: 0px;
              height: 0px;

              &.no_comments {
                display: none;
              }
            }
          }
        }
      }

      .post_content_container_bottom {
        position: relative;
        height: 12px;
        border: 1px solid #444452;
        border-width: 0 1px;
        margin: 0 1px;
        @include border-radius(0 0 5px 5px);
        @include background-image(linear-gradient(to bottom, rgba(40,40,48,1) 0%,rgba(40,40,48,1) 84%,rgba(33,33,40,1) 95%,rgba(31,31,35,1) 100%));
      }
    }
  }
}
