.ddlist_messages_positioner {
  position: absolute;
  top: 32px;
  left: -336px;
  display: none;
  width: 380px;
  right: 20px;

  .ddlist {
    .edge {
      border-color: transparent transparent #60aff8;
      border-style: solid;
      border-width: 0 19px 26px;
      height: 0;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 330px;
      right: 0;
      top: -10px;

      .inner {
        border-color: transparent transparent #33313b;
        border-style: solid;
        border-width: 0 17px 23px;
        height: 0;
        width: 0;
        position: absolute;
        right: 10px;
        left: -17px;
        top: 4px;
      }
    }

    .box {
      background: #33313B;
      border: 2px solid #60aef8;
      margin-top: 14px;
      padding: 9px;
      @include border-radius(6px);
      @include box-shadow(0 8px 8px 5px rgba(0,0,0,.6));

      .header {
        margin-bottom: 5px;

        .title {
          color: #3d3d3d;
          font-size: 14px;
          padding-left: 15px;
          float: left;
        }

        .options {
          float: right;
          width: 247px;

          .btn_new_msg {
            float: left;
            background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/new_message.png) no-repeat;
            width: 32px;
            height: 22px;
          }

          ul {
            display: none;
            float: right;

            li {
              float: left;
              cursor: pointer;
              padding: 0;
              margin-right: 15px;

              &.read_bulk {
                background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/read_message.png) no-repeat 0 2px;
                height: 20px;
                width: 30px;
              }

              &.read_bulk {
                background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/trash.png) no-repeat 0 1px;
                height: 20px;
                width: 20px;
              }

              &.checkout_bulk {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .ksm_loading {
      display: none;
    }

    .footer {
      height: 46px;
      display: none;
      padding: 0 14px;

      .pagination {
        text-align: center;
        line-height: 43px;

        .prev, .next {
          background-repeat: no-repeat;
          background-position: left 2px;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }

        .prev {
          background-image: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/prev.png);
        }

        .next {
          background-image: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/next.png);
        }
      }
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  @include border-radius(4px);
}

.ksm_loading {
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;

  > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    @include animation(stretchdelay 1.2s infinite ease-in-out);

    @for $i from 1 to 5 {
      &.rect#{$i+1} { @include animationDelay($i, -1.2s, 0.1s); }
    }
  }
}

.ksm_gallery_multi_views {
  position: static;

  .grid_view_container {
    position: absolute;
    top: 0;
    z-index: 3000;
    width: 100%;
    padding-top: 0px;
    display: none;
    border: solid 1px #000;
    @include box-shadow(0 5px 5px rgba(0,0,0,.34));
    @include background-image(linear-gradient(to top, #1f2024 4%, #212326));

    .grid_view {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }

    .grid_back_btn {
      float: left;
      margin-left: 28px;

      a {
        text-transform: uppercase;
        color: #61afff;
        font-size: 15px;
        background: url(../../../plugins/kitmoda_social_media/images/icons/close.png) no-repeat 0 3px;
        padding-left: 28px;
        text-decoration: none;
      }
    }

    .ksm_pagination {
      text-align: center;
      margin: 0 140px;
    }
  }
}

.multi_view_galleries {
  .gallery {
    width: 100%;
    display: none;

    .mvg_empty_msg {
      display: none;
      padding: 20px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-family: $roboto;
    }

    .mini_grid_view_container {
      position: relative;
      overflow: hidden;
      width: 100%;

      .bg_container {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;

        .bg {
          height: 100%;
          position: relative;
          overflow: hidden;

          .level1 {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            @include background-image(linear-gradient(to bottom, #6a6d7d, #797a85 2%, #92939c 5%, #a9aab0 91%, #a9aab0 96%, #a2a2a8));
          }

          .level2 {
            position: absolute;
            width: 100%;
            height: 750px;
            z-index: 2;
            @include background-image(radial-gradient(ellipse cover at center, rgba(251, 251, 255, 0.41) 0%, rgba(251, 251, 255, 0.41) 11%, rgba(251, 251, 255, 0.38) 36%, rgba(251, 251, 255, 0.19) 63%, rgba(251, 251, 255, 0) 100%));
          }
        }
      }

      .grid_view {
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        width: 100%;

        .grid {
          margin-right: 0;
        }
      }
    }
  }

  .full_view_container {
    position: absolute;
    top: 373px;
    z-index: 3000;
    width: 100%;
    padding-top: 56px;
    display: none;
    border: 1px solid #000;
    @include box-shadow(inset 0 5px 5px rgba(0,0,0,.28));
    @include background-image(linear-gradient(to top, #1f2024 4%, #212326));

    .full_view {
      width: 100%;
      margin: 0 auto;
    }

    .nav_container {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;

      .nav {
        width: 838px;
        margin: 0 auto;
        position: relative;

        .nav_controls {
          .slick-prev, .slick-next {
            position: absolute;
            border: 0;
            width: 40px;
            padding: 0;
            height: 60px;
            top: 45%;
            cursor: pointer;
          }

          .slick-prev {
            background: url(../../../plugins/kitmoda_social_media/images/icons/prev.png) no-repeat;
            left: -110px;
          }

          .slick-next {
            background: url(../../../plugins/kitmoda_social_media/images/icons/next.png) no-repeat;
            right: -110px;
          }
        }
      }
    }

    .info_container {
      border-bottom: 1px solid #797b80;
      height: 160px;
      @include background-image(linear-gradient(to top, #ccd1d9, #dee4ec));

      .info_box {
        width: 100%;
        margin: 0 auto;
      }
    }

    .gallery_back_btn {
      width: 100%;
      margin: 0 auto;
      text-align: right;

      a {
        font-family: $roboto;
        color: #2b81da;
        text-decoration: none;
        font-size: 38px;
      }
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;

    .goverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 300;
      background: #000;
      @include opacity(.64);

      .ksm_loading {
        left: 50%;
        position: absolute;
        top: 50%;
        z-index: 301;

        div {
          background-color: #458dfa;
        }
      }
    }
  }
}

.justified-gallery {
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    clear: both;
  }
}

.ksm_pagination {
  margin-top: 27px;
  pointer-events: none;
  text-align: center;
}

.bt1_new {
  position: absolute;
  z-index: 9999;
  margin-top: -1%;
  margin-left: 86%;
  width: 0%;
}

.rating {
  width: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/star.png) left 0;
  height: 15px;
  outline: none;
  margin-top: -1px;

  .active {
    background: url(../../../plugins/kitmoda_social_media/css/kane/images/icons/star.png) repeat scroll left 15px;
    height: 15px;
    left: 0;
    outline: none;
    position: absolute;
  }
}

iframe.formframe {
  width: 0;
  height: 0;
  display: none;
}

.search-form-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: rgba( 81,90,99, .90 );
    visibility: hidden;
    @include opacity(0);
    @include transition(all .25s ease-in-out);
}